body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  background-color: #f3f3f3;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}

.form {
  grid-column: 5/9;
  grid-row: 2/3;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.todo-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.input-todo {
  height: 50px;
  border: none;
  font-style: italic;
  font-size: 16px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.title {
  font-size: 22px;
}

.icon {
  color: #928f8f;
}

.myFooter {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}

.myFooter a {
  text-decoration: none;
  color: #928f8f;
}

.main-header {
  width: 100%;
  height: 100px;
  background-color: #928f8f;
}

.myFooter a:hover {
  color: #000;
  text-decoration: underline;
}

.list-row {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid rgb(173, 173, 173);
  cursor: pointer;
}

.input-todo:focus {
  outline: none;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(172, 172, 172);
  padding: 0 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid rgb(172, 172, 172);
}

.header h1 {
  color: rgb(71, 69, 69);
}

.content {
  justify-content: space-between;
  display: flex;
  column-gap: 10px;
}

.content span {
  color: rgb(71, 69, 69);
}

@media screen and (min-width: 320px) {
  .form {
    grid-column: 3/11;
  }
}

@media screen and (min-width: 768px) {
  .form {
    grid-column: 4/10;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    grid-column: 5/9;
  }
}
